[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
[push]
    default = simple
[rerere]
    enabled = true
[alias]
    df = difftool
    dlog = "-c diff.external=difft log -p --ext-diff"
    mrg = mergetool
    st = status
    ci = commit
    co = checkout
    llog = log --oneline @{upstream}..HEAD
    llp = log -p @{upstream}..HEAD
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
    sshow = "!f() { git stash show stash^{/$*} -p; }; f"
    sapply = "!f() { git stash apply stash^{/$*}; }; f"
    recommit = commit --amend --no-edit
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[merge]
    tool = diffmerge
[mergetool "diffmerge"]
    cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
    trustExitCode = true
[pager]
    difftool = true
[user]
	name = kruez
	email = timothy.lawson@gmail.com
#[credential]
#	helper = !aws codecommit credential-helper $@
#	UseHttpPath = true
#	helper = 
#	helper = /usr/local/share/gcm-core/git-credential-manager
[interactive]
    diffFilter = diff-so-fancy --patch
[includeIf "hasconfig:remote.*.url:*://*creditacceptance*/**"]
    path = ~/.gitconfig-cac
[includeIf "hasconfig:remote.*.url:*://**/credit-acceptance*/**"]
    path = ~/.gitconfig-cac
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://bitbucket.creditacceptance.com"]
	provider = bitbucket
