@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* Expose the URL being bookmarked in the popup dialog
 * https://support.mozilla.org/gu-IN/questions/1300440
 */
#editBMPanel_locationRow, #editBMPanel_keywordRow {
  visibility: visible !important;
}

/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}

/* hides the title bar - no obvious effect in OSX */
/*
#titlebar {
  visibility: collapse;
}
*/

/* hides the sidebar header in the TreeTab view */
#sidebar-header {
  visibility: collapse !important;
}

/*** Tighten up drop-down/context/popup menu spacing (8 Sep 2021) ***/

menupopup:not(.in-menulist) > menuitem, 
menupopup:not(.in-menulist) > menu {
  padding-block: 4px !important; /* reduce to 3px, 2px, 1px or 0px as needed */ 
  min-height: unset !important; /* v92.0 - for padding below 4px */
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}
